.order-preview-page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .order-header {
      width: 100%;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-order-block {
        text-transform: capitalize;
        width: 25%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  }