.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        width: 60px;
        height: 60px;
    }

    .item-count {
        position: absolute;
        font-size: 21px;
        color: black;
        font-weight: bold;
        bottom: 2px;
    }
}