.header {
    height: 12vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fd7e14;
    color: white;
  
    .logo-container {
      height: 10px;
      width: 10px;
      padding-left: 3em;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 25px;
        cursor: pointer;
      }
    }
  }