.header {
    height: 12vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fd7e14;
    color: white;
    padding: 0px 10px;
  
    .logo-container {
      height: 10vw;
      width: 15vw;
      padding-left: 2em;
      background: url('../../assets/yummipizza.png') top no-repeat;;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 25px;
        cursor: pointer;
        color: black;
      }
    }
  }