.footer-content ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 5vw;
    justify-content: space-between;
    background-color: #fd7e14;
}
.footer-content ul li {
    color: black;
    list-style: none;
    padding: 1em;
    cursor: pointer;
}