.footer-content {
    margin-top: -100px;
    position: relative;
    clear: both;
}
.footer-content ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 5vw;
    justify-content: space-between;
    background-color: #fd7e14;
    clear: both;
}
.footer-content ul li {
    color: black;
    list-style: none;
    cursor: pointer;
    margin: 20px;
}