
html {
  font-family: 'Bangers', cursive;
  font-size: 19px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
  color: black; }

* {
  box-sizing: border-box; }