
body{
  margin: auto 0;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 11px;
  }
}